<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="change-password-container">
    <div class="change-password-header">
      <h2>Cambio de Contraseña</h2>
      <p>Ingresa tu correo electronico para cambiar tu contraseña.</p>
    </div>

    <form [formGroup]="formulario" class="change-password-form">
      <ion-item class="input-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input
          label="Email"
          labelPlacement="floating"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        class="login-button"
        (click)="cambiarContrasena()"
      >
        Enviar correo de recuperacion
      </ion-button>

      <div class="change-password-links">
        <a routerLink="/login">Volver al Inicio de Sesión</a>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="footer-content">
    <div class="social-icons">
      <ion-icon
        name="mail-outline"
        (click)="abrirEnlace('https://www.duoc.cl/sedes/san-joaquin/informacion/')"
      ></ion-icon>
      <ion-icon
        name="logo-twitter"
        (click)="abrirEnlace('https://x.com/DuocUC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor')"
      ></ion-icon>
      <ion-icon
        name="logo-instagram"
        (click)="abrirEnlace('https://www.instagram.com/duocucsanjoaquin/?hl=es')"
      ></ion-icon>
    </div>
    <div class="copyright">© 2024 Duoc UC. Todos los derechos reservados.</div>
  </div>
</ion-footer>
