<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item (click)="home()" [attr.tabindex]="0">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item (click)="asignaturas()" [attr.tabindex]="0">
        <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
        <ion-label>Asignaturas</ion-label>
      </ion-item>
      <ion-item button (click)="cerrarSesion()" [attr.tabindex]="0">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="fixed-bottom">
      <ion-item
        button
        (click)="abrirEnlace('https://www.duoc.cl/reglamento-academico/?_ga=2.76810513.506779572.1726959603-1754374455.1715652837')"
        [attr.tabindex]="0"
      >
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Acerca de</ion-label>
      </ion-item>
      <ion-item
        button
        (click)="abrirEnlace('https://www.duoc.cl/politica-privacidad/?_ga=2.76770833.506779572.1726959603-1754374455.1715652837')"
        [attr.tabindex]="0"
      >
        <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
        <ion-label>Política de Privacidad</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="header-content">
      <ion-title>RegistrAPP</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card id="Arquitectura">
    <ion-card-header>
      <ion-card-title>Arquitectura</ion-card-title>
      <ion-card-subtitle>ASY4131</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>

    <qr-code
      *ngIf="MostrarqrId === 'Arquitectura'"
      value="ASY4131"
      size="300"
      errorCorrectionLevel="M"
    ></qr-code>
    <br />
    <ion-button (click)="mostrarqr('Arquitectura')"
      >Registrar Asistencia</ion-button
    >
  </ion-card>

  <ion-card id="moviles">
    <ion-card-header>
      <ion-card-title>Programación de aplicaciones móviles</ion-card-title>
      <ion-card-subtitle>PGY4121</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>

    <qr-code
      *ngIf="MostrarqrId === 'moviles'"
      value="PGY4121"
      size="300"
      errorCorrectionLevel="M"
    ></qr-code>
    <br />
    <ion-button (click)="mostrarqr('moviles')">Registrar Asistencia</ion-button>
  </ion-card>

  <ion-card id="Software">
    <ion-card-header>
      <ion-card-title>Calidad de Software</ion-card-title>
      <ion-card-subtitle>CSY4111</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>

    <qr-code
      *ngIf="MostrarqrId === 'Software'"
      value="CSY4111"
      size="300"
      errorCorrectionLevel="M"
    ></qr-code>
    <br />
    <ion-button (click)="mostrarqr('Software')"
      >Registrar Asistencia</ion-button
    >
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="footer-content">
    <div class="social-icons">
      <ion-icon
        name="mail-outline"
        (click)="abrirEnlace('https://www.duoc.cl/sedes/san-joaquin/informacion/')"
      ></ion-icon>
      <ion-icon
        name="logo-twitter"
        (click)="abrirEnlace('https://x.com/DuocUC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor')"
      ></ion-icon>
      <ion-icon
        name="logo-instagram"
        (click)="abrirEnlace('https://www.instagram.com/duocucsanjoaquin/?hl=es')"
      ></ion-icon>
    </div>
    <div class="copyright">© 2024 Duoc UC. Todos los derechos reservados.</div>
  </div>
</ion-footer>
