<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-title>Justifica tu inasistencia</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <div *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando las ausencias...</p>
  </div>

  <div *ngIf="!isLoading">
    <div *ngIf="arq && arq.length > 0">
      <h2>Arquitectura de Software</h2>
      <ion-card *ngFor="let fecha of arq">
        <ion-card-header>
          <ion-card-title>Fecha Ausente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Fecha: {{ fecha }}</p>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="cal && cal.length > 0">
      <h2>Calidad de Software</h2>
      <ion-card *ngFor="let fecha of cal">
        <ion-card-header>
          <ion-card-title>Fecha Ausente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Fecha: {{ fecha }}</p>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="apl && apl.length > 0">
      <h2>Programación de Aplicaciones Móviles</h2>
      <ion-card *ngFor="let fecha of apl">
        <ion-card-header>
          <ion-card-title>Fecha Ausente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Fecha: {{ fecha }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ng-template #noData>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay fechas de ausencias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>No hay registros de ausencias para esta asignatura.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Justificar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="centered-container">
    <ion-label>Escribe un mensaje</ion-label>
    <ion-textarea
      placeholder="Escribe aquí tu justificación..."
      [(ngModel)]="mensaje"
    ></ion-textarea>
  </div>

  <div style="display: flex; justify-content: center; padding: 16px">
    <ion-button
      color="primary"
      fill="outline"
      expand="block"
      (click)="subirDocumento()"
      style="max-width: 90%"
    >
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      Subir Documento
    </ion-button>
  </div>

  <div style="display: flex; justify-content: center; padding: 16px">
    <ion-button
      expand="block"
      color="primary"
      (click)="enviar()"
      style="width: 90%"
    >
      Enviar
    </ion-button>
  </div>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    style="margin-bottom: 16px; margin-right: 16px"
  >
    <ion-fab-button (click)="home()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
