<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="header-content">
      <ion-title>Justifica tu inasistencia</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Justificar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="centered-container">
    <ion-label>Escribe un mensaje</ion-label>
    <ion-textarea placeholder="Escribe aquí tu justificación..." [(ngModel)]="mensaje"></ion-textarea>
  </div>

  <!-- Lista de ausencias -->
  <ion-list>
    <ion-list-header>
      <ion-label>Fechas de Ausencias</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let ausencia of ausencias">
      <ion-label>
        <h2>{{ ausencia.fecha }}</h2>
        <p>{{ ausencia.asignatura }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div style="display: flex; justify-content: center; padding: 16px;">
    <ion-button color="primary" fill="outline" expand="block" (click)="subirDocumento()" style="max-width: 90%;">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      Subir Documento
    </ion-button>
  </div>

  <div style="display: flex; justify-content: center; padding: 16px;">
    <ion-button expand="block" color="primary" (click)="enviar()" style="width: 90%;">
      Enviar
    </ion-button>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 16px; margin-right: 16px;">
    <ion-fab-button (click)="home()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
