ion-header {
  ion-toolbar {
    --background: #014ba0; 
    --color: #def7ff;    
  }

  .header-content {
    display: flex;
    align-items: center;
    padding: 10px 16px;
  }

  ion-title {
    color: #def7ff;
    font-weight: bold;
    font-size: 20px;
  }
}


.centered-container {
  margin-top: 20vh;
  padding: 0 16px;  
  text-align: center;
}

.centered-container ion-label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.centered-container ion-textarea {
  width: 100%;
  --background: #f9f9f9;
  border-radius: 8px;
  margin-top: 8px;
}


.button-container {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

.button-container ion-button {
  flex: 1;
  margin: 0 5px;
  max-width: 120px;
}


ion-button[expand="block"] {
  width: 90%;
  margin: 0 auto;
}


ion-fab-button {
  --background: #3880ff;
}


ion-content {
  --background: #ffffff;
}